<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Click and Trick</title>
    <link rel="stylesheet" href="../assets/css/style.css" />
    <!-- Google font: Creepster -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Creepster&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="header">
      <p>Click and Trick</p>
    </div>
    <div class="wrapper">
      <!-- <div> create by blowUp.js -->
      <div class="slot"></div>
      <button type="button" class="slot__button">Click Me</button>
    </div>
    <!-- JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.7.1/gsap.min.js"></script>
    <script type="text/javascript" src="../assets/js/app.js"></script>
    <script
      type="text/javascript"
      src="../assets/js/modules/blowUp.js"
    ></script>
  </body>
</html>
